<table border="1">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>Failures</th>
    </tr>
  </thead>

  <tbody>
    <% @failures.each do |failure| %>
      <tr>
        <td><%= failure[:name] %></td>
        <td style="text-align: center; color: #ff0000"><%= failure[:percent] %>&percnt;</td>
      </tr>
    <% end %>
  </tbody>
</table>
